<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pringles Rugby Club</title>

    <link rel="stylesheet" type="text/css" href="../styles/Styles.css">
    <link rel="stylesheet" type="text/css" href="../styles/Menu.css">
</head>
<body>

    <header>
        <a href="../index.html"><img src="../assets/img/CarneroLineas.svg" alt="Logo Instituto"></a>
        <nav>
            <ul>
                <li><a href="../index.html">Incio</a></li>
                <li><a href="Historia.html">Historia</a></li>
                <li><a href="Rugby.html">Rugby</a></li>
                <li><a href="Socios.html">Socios</a></li>
                <li><a href="Contacto.html">Contacto</a></li>
            </ul>
        </nav>
        <a href="https://www.facebook.com/pringlesrubgbyclub/" target="_blank"><img src="../assets/img/facebook.svg" alt="Logo Facebook"></a>
        <a href="https://www.instagram.com/pringlesrugbyclub/?hl=es-la" target="_blank"><img src="../assets/img/instagram.svg" alt="Logo Instagram"></a>
        <a href="https://twitter.com/pringlesrugby" target="_blank"><img src="../assets/img/twitter.svg" alt="Logo Twitter"></a>
    </header>

    <!-- tal vez aca le ponga una intro -->

    <section>

        <article>
            <h1>Contacto</h1>
            <form action="" method="POST">
                <input type="text" name="Nombre" placeholder="Nombre">
                <input type="email" name="Apellido" placeholder="Email">
                <input type="text" name="Asunto" placeholder="Asunto">
                <input type="textarea" name="Descripcion">
                <input type="button" value="Enviar">
            </form>
        </article>
        
        <article>
            <h2>Ubicacion</h2>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3145.183330596899!2d-61.348311384676705!3d-37.97285067972395!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95eccb233751d057%3A0xfdadcd79cb64905!2sPRINGLES%20RUGBY%20CLUB%20%22Los%20Carneros%22!5e0!3m2!1ses!2sar!4v1627019041468!5m2!1ses!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            <h3>Referencias</h3>
            <p>Prof José García de la Calle 2299, Coronel Pringles, Provincia de Buenos Aires</p>
        </article>

    </section>

    <section>
        img de auspiciantes <!-- si es que tiene -->
    </section>

    <footer>
        
        <article>
            <a href="../index.html"><img src="../assets/img/CarneroLineas.svg" alt="Logo Instituto"></a>
            <ul>
                <li><a href="../index.html">Incio</a></li>
                <li><a href="Historia.html">Historia</a></li>
                <li><a href="Rugby.html">Rugby</a></li>
                <li><a href="Socios.html">Socios</a></li>
                <li><a href="Contacto.html">Contacto</a></li>
            </ul>
            Compani Name derechos reservados
        </article>

        <article>
            icon + correo
             telefono
             direccion
        </article>

        <article>
            abaut me
            paragraf
            <a href="https://www.facebook.com/pringlesrubgbyclub/" target="_blank"><img src="../assets/img/facebook.svg" alt="Logo Facebook"></a>
            <a href="https://www.instagram.com/pringlesrugbyclub/?hl=es-la" target="_blank"><img src="../assets/img/instagram.svg" alt="Logo Instagram"></a>
            <a href="https://twitter.com/pringlesrugby" target="_blank"><img src="../assets/img/twitter.svg" alt="Logo Twitter"></a>
        </article>

    </footer>

</body>
</html>