<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pringles Rugby Club - Historia</title>

    <link rel="stylesheet" type="text/css" href="../styles/General.css">
    <link rel="stylesheet" type="text/css" href="../styles/Historia.css">
    
</head>
<body>
    
    <header>
        <a href="../index.html"><img src="../assets/img/CarneroLineas.svg" alt="Logo Instituto"></a>
        <nav>
            <ul>
                <li><a href="../index.html">Incio</a></li>
                <li><a href="Historia.html">Historia</a></li>
                <li><a href="Rugby.html">Rugby</a></li>
                <li><a href="Socios.html">Socios</a></li>
                <li><a href="Contacto.html">Contacto</a></li>
            </ul>
        </nav>
        <a href="https://www.facebook.com/pringlesrubgbyclub/" target="_blank"><img src="../assets/img/facebook.svg" alt="Logo Facebook"></a>
        <a href="https://www.instagram.com/pringlesrugbyclub/?hl=es-la" target="_blank"><img src="../assets/img/instagram.svg" alt="Logo Instagram"></a>
        <a href="https://twitter.com/pringlesrugby" target="_blank"><img src="../assets/img/twitter.svg" alt="Logo Twitter"></a>
    </header>>

    <section class="Historia">
        IMG
        <h1>Historia</h1>
        <article>
            En sus inicios año 2003, Pringles Rugby no tenía un espacio propio para entrenar ni jugar, comenzaron en el predio de Club de Pelota, dicha institución les cedió el espacio del Gimnasio de las dos avenidas poco tiempo después, se incorporó la división juvenil y en Primera un grupo de jugadores representaba a Coronel Suárez.
            Recién en 2005 Pringles fue Pringles: se conformó el equipo de Primera División, y los entrenamientos pasaron a hacerse en la banquina pegado al Club Alem, hasta que el municipio otorgó el permiso para entrenar en el Balneario Municipal. Allí comenzaban a gestarse los primeros pasos del Pringles Rugby Club que ingresaba a la Unión de Rugby del Sur.
            El club creció, creció, y fue mayor la demanda de espacio e infraestructura. Durante la intendencia de Aldo Mensi, les fue cedido el terreno actual en el Boulevard 13.
            Con un terreno en el que se había hecho un relleno, más las H (postes de rugby) que regaló a la institución el Club Palihue, y un vestuario pequeño, los sueños de los "Carneros" dieron los primeros pasos.
            El club siguió creciendo a medida que participaba del certamen de la URS, continuaron con la construcción del quincho y los terceros tiempos en principio se realizaban en el Barracón del Balneario o en una confitería céntrica.
            Hoy, con el quincho cerrado, los vestuarios de los inicios quedaron chicos por la gran cantidad de jugadores que asisten al club en la actualidad, por lo que fue necesario empezar a construir nuevos vestuarios con mayor comodidad, más un lugar de depósito de utilería y mantenimiento del club.
            El paso siguiente, el próximo objetivo, será acomodar la cancha principal, que requiere de resembrado e instalación de equipo de riego.
        </article>
    </section>

    <section class="ComisionDirectiva">
        Logo que separe tal vez entre 2 lineas que pasen por la mitad
        <h2>COMISIÓN DIRECTIVA 2021 - 2022</h2>
        <article>
            <h3>PRESIDENTE: </h3>
            <strong>José Erasun</strong>
        </article>
        <article>
            <h3>VICEPRESIDENTE: </h3>
            <strong>Sergio Gelso</strong>
        </article>
        <article>
            <h3>SECRETARIO: </h3>
            <strong>José Erasun</strong>
        </article>
        <article>
            <h3>TESORERO: </h3>
            <strong>Julio Macías</strong>
        </article>
        <article>
            <h3>VOCAL TITULAR 1&ordm;: </h3>
            <strong>Matias Montenegro</strong>
        </article>
        <article>
            <h3>VOCAL TITULAR 2&ordm;: </h3>
            <strong>Luciano Bertani</strong>
        </article>
        <article>
            <h3>VOCAL SUPLENTE 1&ordm;: </h3>
            <strong>Pablo Ortiz</strong>
        </article>
        <article>
            <h3>VOCAL SUPLENTE 2&ordm;: </h3>
            <strong>Francisco Cayssials</strong>
        </article>
        <article>
            <h3>REVISOR DE CUENTAS TITULAR: </h3>
            <strong>Silvio Iphais</strong>
        </article>
        <article>
            <h3>REVISOR DE CUENTAS TITULAR: </h3>
            <strong>Facundo Amaya</strong>
        </article>
        
        <article>
            <h3>REVISOR DE CUENTAS SUPLENTE: </h3>
            <strong>Diego Suarez</strong>
        </article>
        
        <article>
            <h3>REVISOR DE CUENTAS SUPLENTE: </h3>
            <strong>Juan Pablo Capitini</strong>
        </article>

    </section>

    <section>
        img de auspiciantes <!-- si es que tiene -->
    </section>

    <footer>
        
        <article>
            <a href="../index.html"><img src="../assets/img/CarneroLineas.svg" alt="Logo Instituto"></a>
            <ul>
                <li><a href="../index.html">Incio</a></li>
                <li><a href="Historia.html">Historia</a></li>
                <li><a href="Rugby.html">Rugby</a></li>
                <li><a href="Socios.html">Socios</a></li>
                <li><a href="Contacto.html">Contacto</a></li>
            </ul>
            Compani Name derechos reservados
        </article>

        <article>
            icon + correo
             telefono
             direccion
        </article>

        <article>
            abaut me
            paragraf
            <a href="https://www.facebook.com/pringlesrubgbyclub/" target="_blank"><img src="../assets/img/facebook.svg" alt="Logo Facebook"></a>
            <a href="https://www.instagram.com/pringlesrugbyclub/?hl=es-la" target="_blank"><img src="../assets/img/instagram.svg" alt="Logo Instagram"></a>
            <a href="https://twitter.com/pringlesrugby" target="_blank"><img src="../assets/img/twitter.svg" alt="Logo Twitter"></a>
        </article>

    </footer>

</body>
</html>