<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pringles Rugby Club - Socios</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,800;1,200;1,300;1,400;1,500;1,600;1,800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">


    <link rel="stylesheet" type="text/css" href="../styles/General.css">
    <link rel="stylesheet" type="text/css" href="../styles/Socios.css">

</head>
<body>
    
    <!-- <header>
        <a href="../index.html"><img src="../assets/img/CarneroLineas.svg" alt="Logo Instituto" class="Logo"></a>
        <nav class="MenuNav">
            <ul>
                <li><a href="../index.html">Incio</a></li>
                <li><a href="Historia.html">Historia</a></li>
                <li><a href="Categorias.html">Categorias</a></li>
                <li><a href="Socios.html">Socios</a></li>
                <li><a href="Contacto.html">Contacto</a></li>
            </ul>
        </nav>
        <a href="https://www.facebook.com/pringlesrubgbyclub/" target="_blank"><img src="../assets/img/facebook.svg" alt="Logo Facebook" class="RedSocial"></a>
        <a href="https://www.instagram.com/pringlesrugbyclub/?hl=es-la" target="_blank"><img src="../assets/img/instagram.svg" alt="Logo Instagram" class="RedSocial"></a>
        <a href="https://twitter.com/pringlesrugby" target="_blank"><img src="../assets/img/twitter.svg" alt="Logo Twitter" class="RedSocial"></a>
    </header> -->

    <nav class="navbar navbar-light navbar-expand-md">
        <div class="container-fluid">
            <a class="navbar-brand" href="../index.html"><img src="../assets/img/CarneroLineas.svg" class="imgMenu"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item"><a class="nav-link" href="../index.html">Inicio</a></li>
                    <li class="nav-item"><a class="nav-link" href="Historia.html">Historia</a></li>
                    <li class="nav-item"><a class="nav-link" href="Categorias.html">Categorias</a></li>
                    <li class="nav-item"><a class="nav-link" href="Socios.html">Socios</a></li>
                    <li class="nav-item"><a class="nav-link" href="Contacto.html">Contacto</a></li>
                </ul>
            </div>
            <div class="divImgMenu">
                <a class="navbar-brand" href="https://www.facebook.com/pringlesrubgbyclub/"><img src="../assets/img/facebook.svg" class="imgMenu"></a>
                <a class="navbar-brand" href="https://www.instagram.com/pringlesrugbyclub/?hl=es-la"><img src="../assets/img/instagram.svg" class="imgMenu"></a>
                <a class="navbar-brand" href="https://twitter.com/pringlesrugby"><img src="../assets/img/twitter.svg" class="imgMenu"></a>
            </div>
        </div>
    </nav>

    
    <main>
        <section>
            IMG
            <h1>Socios</h1>
            paragraf
        </section>

        <section>
            ---- logo ---- tipo separado con una linea al medio
            <article>
                <table border="1px" Cellpadding="20px">
                    <tr>
                        <th>Edad</th>
                        <th>Descipcion</th>
                        <th>Precio</th>
                    </tr>
                    <tr>
                        <td>Primera</td>
                        <td>Toda aquella persona mayor de 19 años</td>
                        <td>$1000</td>
                    </tr>
                    <tr>
                        <td>Juveniles M19</td>
                        <td>Personas entre 19 y 17 años</td>
                        <td>$700</td>
                    </tr>
                    <tr>
                        <td>Juveniles M17</td>
                        <td>Personas entre 15 a 17 años</td>
                        <td>$500</td>
                    </tr>
                    <tr>
                        <td>Femenino</td>
                        <td>Mujeres mayores de 12 años</td>
                        <td>$400</td>
                    </tr>
                    <tr>
                        <td>Infantiles</td>
                        <td>Niños ente 12 a 14 años</td>
                        <td>$300</td>
                    </tr>
                    <tr>
                        <td>Infantil Mixto</td>
                        <td>Personas entre 6 a 11 años</td>
                        <td>$300</td>
                    </tr>
                </table>
            </article>
        </section>
    </main>
    <footer>
        
        <article>
            <a href="../index.html"><img src="../assets/img/CarneroLineas.svg" alt="Logo Instituto" class="Logo"></a>
            <ul>
                <li><a href="../index.html">Incio</a></li>
                <li><a href="Historia.html">Historia</a></li>
                <li><a href="Rugby.html">Rugby</a></li>
                <li><a href="Socios.html">Socios</a></li>
                <li><a href="Contacto.html">Contacto</a></li>
            </ul>
            Compani Name derechos reservados
        </article>

        <article>
            icon + correo
             telefono
             direccion
        </article>

        <article>
            abaut me
            paragraf
            <a href="https://www.facebook.com/pringlesrubgbyclub/" target="_blank"><img src="../assets/img/facebook.svg" alt="Logo Facebook" class="RedSocial"></a>
            <a href="https://www.instagram.com/pringlesrugbyclub/?hl=es-la" target="_blank"><img src="../assets/img/instagram.svg" alt="Logo Instagram" class="RedSocial"></a>
            <a href="https://twitter.com/pringlesrugby" target="_blank"><img src="../assets/img/twitter.svg" alt="Logo Twitter" class="RedSocial"></a>
        </article>

    </footer>

    <script src="script/wow.min.js"></script>
    <script> 
        new WOW().init();
    </script>


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>


</body>
</html>