<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pringles Rugby Club</title>
</head>
<body>
    
    <header>
        logo
        <nav>
            navegacion
        </nav>
        con red social
        icon red social
    </header>

    <section>
        IMG
        <h1>Socios</h1> <!-- h2 o h1 ?-->
        paragraf
    </section>

    <section>
        ---- logo ---- tipo separado con una linea al medio
        Cuadro o cartas de los aranceles, todo depende como se vea en el celular
    </section>

    <footer>
        
        <article>
            icon
            lista de navegacion
            Compani Name derechos reservados
        </article>

        <article>
            icon + correo
             telefono
             direccion
        </article>

        <article>
            abaut me
            paragraf
            icon red social
            icon red social
        </article>

    </footer>

</body>
</html>