<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pringles Rugby Club</title>
</head>
<body>
    
    <header>
        <a href="index.html">Logo</a>
        <nav>
            <ul>
                <li><a href="../index.html">Incio</a></li>
                <li><a href="Historia.html">Historia</a></li>
                <li><a href="Rugby.html">Rugby</a></li>
                <li><a href="Socios.html">Socios</a></li>
                <li><a href="Contacto.html">Contacto</a></li>
            </ul>
        </nav>
        <a href="https://www.facebook.com/pringlesrubgbyclub/" target="_blank">logo faceboo</a>
        <a href="https://www.instagram.com/pringlesrugbyclub/?hl=es-la" target="_blank">logo instagram</a>
    </header>

    <section>
        IMG
        <h1>Socios</h1> <!-- h2 o h1 ?-->
        paragraf
    </section>

    <section>
        ---- logo ---- tipo separado con una linea al medio
        <article>
            <table border="1px" Cellpadding="20px">
                <tr>
                    <th>Edad</th>
                    <th>Descipcion</th>
                    <th>Precio</th>
                </tr>
                <tr>
                    <td>Primera</td>
                    <td>Toda aquella persona mayor de 19 años</td>
                    <td>$1000</td>
                </tr>
                <tr>
                    <td>Juveniles M19</td>
                    <td>Personas entre 19 y 17 años</td>
                    <td>$700</td>
                </tr>
                <tr>
                    <td>Juveniles M17</td>
                    <td>Personas entre 15 a 17 años</td>
                    <td>$500</td>
                </tr>
                <tr>
                    <td>Femenino</td>
                    <td>Mujeres mayores de 12 años</td>
                    <td>$400</td>
                </tr>
                <tr>
                    <td>Infantiles</td>
                    <td>Niños ente 12 a 14 años</td>
                    <td>$300</td>
                </tr>
                <tr>
                    <td>Infantil Mixto</td>
                    <td>Personas entre 6 a 11 años</td>
                    <td>$300</td>
                </tr>
            </table>
        </article>
    </section>

    <footer>
        
        <article>
            icon
            <ul>
                <li><a href="../index.html">Incio</a></li>
                <li><a href="Historia.html">Historia</a></li>
                <li><a href="Rugby.html">Rugby</a></li>
                <li><a href="Socios.html">Socios</a></li>
                <li><a href="Contacto.html">Contacto</a></li>
            </ul>
            Compani Name derechos reservados
        </article>

        <article>
            icon + correo
             telefono
             direccion
        </article>

        <article>
            abaut me
            paragraf
            <a href="https://www.facebook.com/pringlesrubgbyclub/" target="_blank">logo faceboo</a>
            <a href="https://www.instagram.com/pringlesrugbyclub/?hl=es-la" target="_blank">logo instagram</a>
        </article>

    </footer>

</body>
</html>