/*
    *   El Amarillo es 240, 201, 36
    *   El Azul es 0, 5, 69
    *   el restantes es negro
*/

/*
    * LETRA
    * font-family: 'Montserrat', sans-serif;
    * 
*/

/* -- SETTINGS -- */

*{
    margin: 0;
    padding: 0;
}

body{
    font-size: 62.5%; /* 1 em 10px */
}

a{
    text-decoration: none;
}

ul{
    list-style-type: none;
}

/* -- MENU -- */

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    
    position: sticky;
    top: 0;
    
    background: rgba( 255, 255, 255, 0.35 );
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.089);
    backdrop-filter: blur( 6.5px );
    -webkit-backdrop-filter: blur( 6.5px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );

    padding: 1.5em;
}

/* Estilo a los logos (Carnero y redes sociales) */
header a{

}

header a img{
    width: 5em;
    padding: 0 1em 0 1em;
}

/* Estilo al menu de listas */

header nav{
    display: inline-block;
}

header nav ul{

}

header nav ul li{
    display: inline-block;
    padding: 0 1em 0 1em;
}

header nav ul li a{
    color: rgb(0, 5, 65);
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    font-weight: 500;
    letter-spacing: 0.1em;
    box-shadow: inset 0 -1.3px rgba(240, 203, 36, 0.753);
}

header nav ul li a:hover{
    box-shadow: inset 0 -2px rgba(240, 203, 36, 0.849);
    color: rgba(0, 6, 56, 0.808);
}

/* Estilo DIV redes sociales */

header div{
    display: inline-block;
}

/* -- MAIN -- */

main{
    margin-top: 3em;
}

/* -- FOOTER -- */

footer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    color: rgb(0, 5, 65);
    background: rgba(240, 203, 36, 0.849);

}

footer article{
    display: flex;
    justify-content: center;
    align-items: center;
}

footer article a img{
    width: 5em;
    padding: 0 1em 0 1em;
}

/* -- Primer Article -- */

.FooterNav{

}

/* -- Segundo Article -- */

.FooterContact{

}

/* -- Tercero Article -- */

.FooterPresentacion{

}