/*
    *   El Amarillo es 240, 201, 36
    *   El Azul es 0, 5, 69
    *   el restantes es negro
*/

/*
    * LETRA
    * font-family: 'Montserrat', sans-serif;
    * 
*/

/* -- SETTINGS -- */

*{
    margin: 0;
    padding: 0;
}

body{
    font-size: 62.5%; /* 1 em 10px */
}

a{
    text-decoration: none;
    transition: all 0.2s linear;
}

ul{
    list-style-type: none;
}

/* -- MENU -- */

header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    
    position: sticky;
    top: 0;
    
    background: rgba( 255, 255, 255, 0.35 );
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.089);
    backdrop-filter: blur( 6.5px );
    -webkit-backdrop-filter: blur( 6.5px );
    border-bottom: 1px solid rgb(0, 5, 65);

    padding: 1.5em;
}

/* Estilo a los logos (Carnero y redes sociales) */
header a{

}

header a img, .imgMenu{
    width: 2.5em;/*
    width: 5em;
    padding: 0 1em 0 1em;*/
}

/* Estilo al menu de listas */

header nav{
    
}

header nav ul{

}

header nav ul li{
    display: inline-block;
    padding: 0 1em 0 1em;
}

header nav ul li a, .nav-link{
    color: rgb(0, 5, 65) !important;
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    font-weight: 500;
    letter-spacing: 0.1em;
    
    /*box-shadow: inset 0 -1.3px rgba(240, 203, 36, 0.753);*/
}

header nav ul li a:hover, .nav-link:hover{
    /*box-shadow: inset 0 -3px rgba(240, 203, 36, 0.849);*/
    color: rgba(112, 113, 129, 0.918) !important;
}

/* Estilo DIV redes sociales */

header div{

}

/* -- MAIN -- */

main{
    
}

/* -- FOOTER -- */

footer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    color: rgb(0, 5, 65);
    font-family: 'Montserrat', sans-serif;
    
    background: #cac531e8;
    background: -webkit-linear-gradient(to top, #F3F9A7, #cac531e8);
    background: linear-gradient(to top, #F3F9A7, #cac531e8); 
    
    border-top: 2px solid rgb(0, 5, 65);

    padding: 2em 0 0 0;
}

footer article{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

footer article a img{
    width: 5em;
    padding: 0 1em 0 1em;
}

/* -- Primer Article -- */

.FooterNav{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row: auto;


}

/* logo club */

.FooterNav img{
    width: 15em;
    border-radius: 50%;
    justify-self: center;
    align-self: center;
}

/* menu de navegacion footer */

.FooterNav ul{
    justify-self: center;
    align-self: center;
}

.FooterNav ul li{
    padding: 0.5em 0;
}

.FooterNav ul li a{
    color: rgb(0, 5, 65);
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    letter-spacing: 0.1em;
    
}

.FooterNav ul li a:hover{
    color: rgb(10, 11, 31);
    font-weight: 700;
    
}

/* -- Segundo Article -- */

.FooterContact{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.FooterContact div{
    padding: 1em 0;
}

.FooterContact div i{
    font-size: 3em;
}

/* icon correo */
.fa-envelope{
    color: rgba(31, 28, 28, 0.876);
}

/* icon lugar */
.fa-map-marker-alt{
    color: rgba(31, 28, 28, 0.876);
}

.FooterContact div p{
    display: inline-block;

    font-size: 2em;
    font-weight: 600;

    padding: 0 0.5em;
}

/* Copyrigth */

.FooterContact p{
    padding: 0.5em 0;

    font-size: 1.2em;
    font-weight: 600;
}

/* -- Tercero Article -- */

.FooterPresentacion{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 0 2em;
}

.FooterPresentacion div{
    
}

.FooterPresentacion div h3{
    text-align: center;
    font-weight: 700;
    font-size: 2em;
}

.FooterPresentacion div p{
    text-align: center;
    font-weight: 500;
    font-size: 1.5em;

    padding: 1em 0;
}

.FooterPresentacion div a{
    
}


@media only screen and (min-width: 768px) and (max-width: 1023px)
{
    header{
        padding: 1em;
    }

    /* Estilo a los logos (Carnero y redes sociales) */
    header a{

    }

    header a img{

    }

    /* Estilo al menu de listas */

    header nav{
        
    }

    header nav ul{

    }

    header nav ul li{
    }

    header nav ul li a{
    }

    header nav ul li a:hover{
    }

    /* Estilo DIV redes sociales */

    header div, .divImgMenu{
        display: none;
    }

    /* -- MAIN -- */

    main{
        
    }

    /* -- FOOTER -- */

    footer{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;

        grid-gap: 1em;
        
        padding: 2em 0 0 0;
    }

    footer article{
    }

    footer article a img{

    }

    /* -- Primer Article -- */

    .FooterNav{
        display: none;
    }

    /* logo club */

    .FooterNav img{
    }

    /* menu de navegacion footer */

    .FooterNav ul{
    }

    .FooterNav ul li{
    }

    .FooterNav ul li a{
        
    }

    .FooterNav ul li a:hover{
    }

    /* -- Segundo Article -- */

    .FooterContact{
        grid-row: 3;
    }

    .FooterContact div{
        padding: 0 0;
    }

    .FooterContact div i{
    }

    /* icon correo */
    .fa-envelope{
    }

    /* icon lugar */
    .fa-map-marker-alt{
    }

    .FooterContact div p{
        padding: 0.5em;
    }

    /* Copyrigth */

    .FooterContact p{
        padding: 0.5em 0;
    }

    /* -- Tercero Article -- */

    .FooterPresentacion{
    }

    .FooterPresentacion div{
        
    }

    .FooterPresentacion div h3{
    }

    .FooterPresentacion div p{
    }

    .FooterPresentacion div a{ 
    }
}

@media only screen and (max-width: 768px)
{
    header{
    }
    
    /* Estilo a los logos (Carnero y redes sociales) */
    header a{
    
    }
    
    header a img{
        width: 1.6em;
        /*width: 5em;
        padding: 0 1em 0 1em;*/
    }
    
    /* Estilo al menu de listas */
    
    header nav{
        
    }
    
    header nav ul{
    
    }
    
    header nav ul li{
        display: block;
    }
    
    header nav ul li a, .nav-link{
        font-size: 1.5em;
        font-weight: 600;
    }
    
    header nav ul li a:hover{
    }
    
    /* Estilo DIV redes sociales */
    
    header div, .divImgMenu{
        display: none;
    }
    
    /* -- MAIN -- */
    
    main{
        
    }

    /* -- FOOTER -- */

    footer{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;

        grid-gap: 1em;
        
        padding: 2em 0 0 0;
    }

    footer article{
    }

    footer article a img{
    }

    /* -- Primer Article -- */

    .FooterNav{
        display: none;
    }

    /* logo club */

    .FooterNav img{
    }

    /* menu de navegacion footer */

    .FooterNav ul{
    }

    .FooterNav ul li{
    }

    .FooterNav ul li a{
        
    }

    .FooterNav ul li a:hover{
    }

    /* -- Segundo Article -- */

    .FooterContact{
        grid-row: 3;
    }

    .FooterContact div{
        padding: 0 0;
    }

    .FooterContact div i{
        font-size: 1.2em;
    }

    /* icon correo */
    .fa-envelope{
    }

    /* icon lugar */
    .fa-map-marker-alt{
    }

    .FooterContact div p{
        padding: 0.7em;

        font-size: 1em;
    }

    /* Copyrigth */

    .FooterContact p{
        padding: 0.5em 0;
    }

    /* -- Tercero Article -- */

    .FooterPresentacion{
    }

    .FooterPresentacion div{
        
    }

    .FooterPresentacion div h3{
        font-size: 1.3em;
    }

    .FooterPresentacion div p{
        font-size: 1em;
    }

    .FooterPresentacion div a{ 
        font-size: 0.7em;
    }
}
